

*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(139, 187, 139);
    background-image: url(https://wallpaperaccess.com/full/397535.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu{
    font-size: 2rem;
    background-color: rgb(74, 95, 74);
    width: 50rem;
    border: 3px solid rgb(139, 187, 139);
    border-radius: 5px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}

.menu a:hover{
    background-color: rgb(139, 187, 139);
    color: rgb(74, 95, 74);
}

#main-students{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
img{
    max-width: 100%;
}
.student{
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 20rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(74, 95, 74);
    color: white;
    height: 2.3rem;
    width: 100%;
    padding-left: 1rem;
    padding-top: .5rem;
}

